#container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    width: 50vw;
}
#container h1{
     display: flex;
    align-self: center;
}
#nome-input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
    display: flex;
    align-self: center;
    justify-content: center;
}