#container, #container-dois, #container-tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body.claro {
    background-color: white;
    color: black;
}
body.claro h1 {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-self: center;
    padding: 1rem 225px;
}
body.escuro {
    background-color: rgb(13, 42, 54);
    color: white;
}
body.escuro h1 {
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    padding: 1rem 225px;
    display: flex;
    justify-self: center
}
h1 {
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    padding: 0.3rem 3rem;
    background-color: white;
}
input {
    padding: 1rem 5rem;
    margin: 0.5rem;
    background-color: aliceblue;
}
p, li {
  font-size: larger;  
}
button, input {
    font-size: medium;
}